<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.eyr.callkeep">

  <uses-permission android:name="android.permission.VIBRATE" />

  <application>
    <activity
      android:name=".IncomingCallActivity"
      android:exported="false"
      android:showWhenLocked="true"
      android:showOnLockScreen="true"/>
    <service android:name=".EyrCallBannerDisplayService" />
  </application>

</manifest>
